body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            background-color: #1A3263;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .header {
            width: 100%;
            padding: 15px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;
            background: white;
            position: sticky;
            top: 0;
        }

        .back-btn {
            font-size: 24px;
            cursor: pointer;
            margin-right: 15px;
            text-decoration: none;
            color: black;
        }

        .container {
            width: 100%;
            max-width: 500px;
            padding: 20px;
            box-sizing: border-box;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 5px;
            color: white;
        }

        p {
            font-size: 14px;
            color: white;
            margin-bottom: 25px;
        }

        input {
            width: 100%;
            padding: 16px;
            border: 1px solid #dddfe2;
            border-radius: 8px;
            font-size: 16px;
            box-sizing: border-box;
            background-color: #f5f6f7;
            margin-bottom: 20px;
        }

        input:focus {
            outline: none;
            border-color: #1877f2;
            background-color: white;
        }

        .btn-primary {
            width: 100%;
            background-color: #1877f2;
            color: white;
            border: none;
            padding: 12px;
            border-radius: 25px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 10px;
        }

        .btn-secondary {
            width: 100%;
            background-color: white;
            color: #4b4f56;
            border: 1px solid #dddfe2;
            padding: 12px;
            border-radius: 25px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }

        /* Border merah kalau error */
        .error-border {
            border: 1px solid red !important;
        }