body {
            font-family: Arial, sans-serif;
            background-color: #1A3263;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }


        .login-box {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            width: 396px;
            text-align: center;
        }

        input {
            width: 100%;
            padding: 14px 16px;
            margin-bottom: 12px;
            border: 1px solid #dddfe2;
            border-radius: 6px;
            box-sizing: border-box;
            font-size: 17px;
        }

        .login-btn {
            width: 100%;
            background-color: #1877f2;
            color: white;
            border: none;
            padding: 12px;
            border-radius: 6px;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        .forgot-pass {
            display: block;
            margin: 15px 0;
            color: #1877f2;
            text-decoration: none;
            font-size: 14px;
        }

        hr {
            border: 0.5px solid #dadde1;
            margin: 20px 0;
        }

        .create-btn {
            background-color: #42b72a;
            color: white;
            border: none;
            padding: 12px 20px;
            border-radius: 6px;
            font-size: 17px;
            font-weight: bold;
            cursor: pointer;
        }
        h1 {
          display: block;
          font-size: 70px;
          position: relative;
          top: -200px;
          color: white;
          margin: 0 auto;
          font-weight: bold;
          letter-spacing: 5px;
          font-family: myfont;
        }
        @font-face {
          font-family: 'myfont';
          src: url('/font/MarseilleFreeRegular-MAXEB.ttf')
        }
        h2 {
          font-size: 50px;
          margin: 0 auto;
          margin-block: 2px;
          display: block;
          position: relative;
          top: -45px;
          font-weight: bold;
          font-family: myfont2;
          letter-spacing: 10px;
        }
        @font-face {
          font-family: 'myfont2';
          src: url('/font/Amelia-pgmGr.ttf')
        }
